h1{
    width: 100%;
    float: left;
    background-color: yellow;
    border-radius: 20px;
}

h1 button{
    float: right;
}

.start{
    background-color: red;
    border-radius:10px;
    font-size: 40px;
}

.start:hover{
    background-color: #b32020;
}

.restart{
    background-color: red;
    border-radius:10px;
    font-size: 40px;
}

.restart:hover{
    background-color: #b32020;
}

.canvas{
    
}